node_modules/
.cache/
build/
dist/
*.pyc
__pycache__/
.env
.DS_Store
frontend/node_modules/
frontend/.cache/
scripts/
config/session-*.yaml
config/config.yaml
logs/
*.log
*.bak
*.env
.idea/
*.sqlite
*.db
*.pid