__pycache__
.coverage
.DS_Store
.env
.idea
.mypy_cache
.pytest_cache
.qodo
.ruff_cache
.tox
.venv
.vscode
[Dd]esktop.ini
*.bak*
*.db*
*.env*
*.lnk
*.log*
*.pid*
*.pyc
*.sqlite*
$RECYCLE.BIN
build/
compose.yaml*
compose.yml*
config.yaml*
config/
coverage.xml
dist/
docker-compose.yaml*
docker-compose.yml*
env.bak/
env/
favicon_io/
frontend/.cache/
frontend/node_modules/
htmlcov/
junit.xml
last_session.yaml*
logs/
node_modules/
notify.yaml*
port_monitoring.yaml*
proxies.yaml*
pytest.xml
pythonenv*
pyvenv.cfg
scripts/
session-*.yaml*
tests/
Thumbs.db
venv.bak/
venv/
