html,
body {
  padding: 0;
  margin: 0;
}
/* Always reserve space for the main browser scrollbar and always show vertical scrollbar */
html,
body {
  scrollbar-gutter: stable;
}

/* Make scrollbar thinner in Chromium browsers */
body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 4px;
}
body::-webkit-scrollbar-track {
  background: transparent;
}

/* Make scrollbar thinner in Firefox */
html {
  scrollbar-color: #bbb transparent;
  scrollbar-width: thin;
}
